IVI Checkmate Form Generator - Version 1.0
FormNumber->[formnumber:28]
Text->[x:4][y:1][font:1][italics:0][underline:0][reverse:0][text:Processing Card]
Text->[x:8][y:6][font:2][italics:0][underline:0][reverse:0][text:Authorization in progress.]
Text->[x:14][y:9][font:2][italics:0][underline:0][reverse:0][text:Please wait.]
