IVI Checkmate Form Generator - Version 1.0
FormNumber->[formnumber:25]
Text->[x:6][y:1][font:1][italics:0][underline:0][reverse:0][text:Confirm Amount]
Text->[x:18][y:7][font:1][italics:0][underline:0][reverse:0][text:%M]
Text->[x:13][y:10][font:2][italics:0][underline:0][reverse:0][text:will be charged ]
Text->[x:10][y:24][font:2][italics:0][underline:0][reverse:0][text:OK]
Text->[x:23][y:23][font:2][italics:0][underline:0][reverse:0][text:Cancel]
Text->[x:23][y:25][font:2][italics:0][underline:0][reverse:0][text:Payment]
Text->[x:13][y:13][font:2][italics:0][underline:0][reverse:0][text:to your account.]
Button->[x:2][y:22][cx:6][cy:6][id:3]
Button->[x:32][y:22][cx:6][cy:6][id:4]
