IVI Checkmate Form Generator - Version 1.0
FormNumber->[formnumber:24]
Text->[x:1][y:1][font:1][italics:0][underline:0][reverse:0][text:Select Benefit Type]
Text->[x:23][y:23][font:2][italics:0][underline:0][reverse:0][text:Cancel]
Text->[x:23][y:25][font:2][italics:0][underline:0][reverse:0][text:Payment]
Text->[x:10][y:15][font:2][italics:0][underline:0][reverse:0][text:Food]
Text->[x:10][y:17][font:2][italics:0][underline:0][reverse:0][text:Stamps]
Text->[x:23][y:15][font:2][italics:0][underline:0][reverse:0][text:Cash]
Text->[x:23][y:17][font:2][italics:0][underline:0][reverse:0][text:Benefit]
Text->[x:8][y:6][font:2][italics:0][underline:0][reverse:0][text:Food Stamps must be used]
Text->[x:9][y:9][font:2][italics:0][underline:0][reverse:0][text:before other benefits.]
Button->[x:32][y:22][cx:6][cy:6][id:5]
Button->[x:2][y:14][cx:6][cy:6][id:3]
Button->[x:32][y:14][cx:6][cy:6][id:4]
