IVI Checkmate Form Generator - Version 1.0
FormNumber->[formnumber:18]
Text->[x:1][y:1][font:1][italics:0][underline:0][reverse:0][text:Select Payment Type]
Text->[x:2][y:6][font:2][italics:0][underline:0][reverse:0][text:Insert Cash or Select Payment Type]
