IVI Checkmate Form Generator - Version 1.0
FormNumber->[formnumber:33]
Text->[x:4][y:1][font:1][italics:0][underline:0][reverse:0][text:Select Card Type]
Text->[x:9][y:8][font:2][italics:0][underline:0][reverse:0][text:Credit]
Text->[x:9][y:15][font:2][italics:0][underline:0][reverse:0][text:ATM]
Text->[x:9][y:23][font:2][italics:0][underline:0][reverse:0][text:ATM]
Text->[x:9][y:17][font:2][italics:0][underline:0][reverse:0][text:(No Cash)]
Text->[x:9][y:25][font:2][italics:0][underline:0][reverse:0][text:(Cash Back)]
Text->[x:24][y:23][font:2][italics:0][underline:0][reverse:0][text:Cancel]
Text->[x:24][y:25][font:2][italics:0][underline:0][reverse:0][text:Payment]
Button->[x:2][y:14][cx:6][cy:6][id:4]
Button->[x:2][y:22][cx:6][cy:6][id:5]
Button->[x:2][y:6][cx:6][cy:6][id:3]
Button->[x:32][y:22][cx:6][cy:6][id:7]
