IVI Checkmate Form Generator - Version 1.0
FormNumber->[formnumber:12]
Text->[x:12][y:1][font:1][italics:0][underline:0][reverse:0][text:Welcome!]
Text->[x:2][y:6][font:2][italics:0][underline:0][reverse:0][text:Scan your items or select a language]
Text->[x:20][y:15][font:2][italics:0][underline:0][reverse:0][text:%10.10s]
Text->[x:20][y:24][font:2][italics:0][underline:0][reverse:0][text:%10.10s]
Button->[x:32][y:13][cx:6][cy:6][id:3]
Button->[x:32][y:22][cx:6][cy:6][id:4]
