IVI Checkmate Form Generator - Version 1.0
FormNumber->[formnumber:19]
Text->[x:8][y:1][font:1][italics:0][underline:0][reverse:0][text:Finish & Pay]
Text->[x:12][y:6][font:2][italics:0][underline:0][reverse:0][text:Slide your card.]
