IVI Checkmate Form Generator - Version 1.0
FormNumber->[formnumber:21]
Text->[x:8][y:0][font:1][italics:0][underline:0][reverse:0][text:Select Amount]
Text->[x:10][y:7][font:2][italics:0][underline:0][reverse:0][text:+ 0]
Text->[x:10][y:16][font:2][italics:0][underline:0][reverse:0][text:+ %s]
Text->[x:10][y:24][font:2][italics:0][underline:0][reverse:0][text:+ %s]
Text->[x:22][y:8][font:2][italics:0][underline:0][reverse:0][text:+ %s]
Text->[x:22][y:16][font:2][italics:0][underline:0][reverse:0][text:+ %s]
Text->[x:22][y:23][font:2][italics:0][underline:0][reverse:0][text:Cancel]
Text->[x:22][y:25][font:2][italics:0][underline:0][reverse:0][text:Payment]
Button->[x:2][y:6][cx:6][cy:6][id:3]
Button->[x:2][y:14][cx:6][cy:6][id:4]
Button->[x:2][y:22][cx:6][cy:6][id:5]
Button->[x:32][y:6][cx:6][cy:6][id:6]
Button->[x:32][y:14][cx:6][cy:6][id:7]
Button->[x:32][y:22][cx:6][cy:6][id:8]
