IVI Checkmate Form Generator - Version 1.0
FormNumber->[formnumber:17]
Text->[x:5][y:7][font:1][italics:0][underline:0][reverse:0][text:Use touchscreen ]
Text->[x:9][y:10][font:1][italics:0][underline:0][reverse:0][text:to continue]
