<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RapNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- <add key="RapNet.POSFileAccessService.POSFileAccessws" value="http://153.60.40.81:9992/POSFileAccessService/basic"/> -->
    <add key="DevWebServiceTemplate"  value="http://wxxxxipossyyyy.ius.meijer.com/POSFileAccessService/basic/"/>
    <add key="CertWebServiceTemplate" value="http://wxxxxipossyyyy.ius.meijer.com/POSFileAccessService/basic/"/>
    <add key="WebServiceTemplate"  value="http://STORE_SERVER_IP_ADDRESS/POSFileAccessService/basic/"/>
    <add key="PrdWebServiceTemplate"  value="http://wxxxxepossyyyy.us.meijer.com/POSFileAccessService/basic/"/>
    <add key="LabStoreNumbers" value="4,5,8,10,13,14,75,254,751,762,770,771,772,773,774,775,776,777,778,779"/>
  </appSettings>
  <applicationSettings>
    <RapNet.Properties.Settings>
      <setting name="RapNet_POSFileAccessService_POSFileAccessws" serializeAs="String">
        <value>http://153.60.40.81:9992/POSFileAccessService/basic</value>
      </setting>
    </RapNet.Properties.Settings>
  </applicationSettings>
</configuration>
